$color-primary: #0D1B2A;
$color-secondary: #415A77;
$color-tertiaire: #778DA9;
$color-ligth: #E0E1DD;
$breakpoints: (
    extra_small: 590px,
    tablet : 835px,
    desktop : 1090px,
    large: 1400px,
);