@import "../utils/variable";
@import "../utils/mixins";

.best_film{
    padding-left: 5rem;
    padding-right: 5rem;
        &__container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
            border: 2px solid;
            border-color: $color-ligth;
            height: 353px;
            margin-top: 2rem;
            justify-items: center;
            background-color: $color-secondary;
        }

        &__information{
            text-align: center;
        }

        &__title{
            margin-top: 3rem;
            padding-bottom: 1.3rem;
        }
        &__resume{
            padding-top: 1.5rem;
        }

        &__description{
            word-break: break-word;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &__img{
            width: 240px;
            object-fit: cover;
        }
}

@include desktop {
    .best_film{
        &__container{
            justify-items: end;
        }
    }
}

@include tablet {
    .best_film{
        padding-left: 2rem;
        padding-right: 2rem;
        &__container{
            justify-items: end;
        }
    }
}

@include extra_small {
    .best_film{
        &__container{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}