#all_category{
    text-align: center;
}

.category_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.category_template{
    &__img{
    border-style: groove;
    border-color: #EA8C55;
    }
}