@import "../utils/variable";
@import "../utils/mixins";

#all_category{
    text-align: center;
    margin-top: 4rem;
}

.all_category{
    &__film{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.category_list{
    display: inline-flex;
}

.category_template{
    &__img{
    border-style: groove;
    border-color: $color-ligth;
    }
    &__display{
        background: rgb(25, 25, 25);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    &__information{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__img_div{
        margin-top: 4rem;
        border: 1px solid;
    }
    &__title{
        font-size: 2.5rem;
    }
    &__grid_title{
        text-align: left;
        padding-left: 2rem;
        padding-right: 4rem;
        padding-top: 2rem;
    }
    &__grid_genres{
        text-align: center;
        font-size: 1.1rem;
    }
    &__description{
        font-size: 1.2rem;
    }
}

@include tablet {
    .category_template{
        &__img_div{
            margin-top: 0;
        }
        &__grid_title{
            padding-right: 0;
            padding-left: 1rem;
            padding-top: 0;
        }
        &__title{
            margin: 0;
            font-size: 1.4rem;
        }
        &__information p {
            font-size: 0.9rem;
        }
    }
    #category_template__description{
        margin-bottom: 0;
    }
    #category_template__actors{
        margin-bottom: 0;
    }
}

@include large {
    .category_template{
        &__img_div{
            margin-top: 1rem;
        }
    }
    #category_template__description{
        margin-bottom: 2rem;
    }
    #category_template__actors{
        margin-bottom: 2rem;
    }
}