@import "../utils/variable";

#all_category{
    text-align: center;
    margin-top: 4rem;
}

.all_category{
    &__rated{
        margin-top: 4rem;
    }
    &__history{
        margin-top: 4rem;
    }
    &__adventure{
        margin-top: 4rem;
    }
    &__anime{
        margin-top: 4rem;
    }
}
.category_list{
    display: flex;
}

.category_template{
    &__img{
    border-style: groove;
    border-color: $color-ligth;
    }
    &__display{
        background: rgb(25, 25, 25);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    &__information{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__img_div{
        margin-top: 4rem;
        border: 1px solid;
    }
    &__title{
        font-size: 2.5rem;
    }
    &__grid_title{
        text-align: left;
        padding-left: 2rem;
        padding-right: 4rem;
        padding-top: 2rem;
    }
    &__grid_genres{
        text-align: center;
        font-size: 1.1rem;
    }
    &__description{
        font-size: 1.2rem;
    }
}
