@import "../utils/variable";

.body{
    margin: 0px;
    background-color: $color-primary;
    color: white;
}

.header{
    color: black;
    background-color: $color-tertiaire;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 7rem;
    align-items: center;
    justify-items: center;
    &__title{
        justify-self: start;
        padding-left: 2rem;
    }
}

