.body{
    margin: 0px;
    background-color: rgb(40 40 40);
    color: white;
}

.header{
    background-color: #AD2E24;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 7rem;
    align-items: center;
    justify-items: center;
    &__title{
        justify-self: start;
        padding-left: 2rem;
    }
}

