@import "../utils/keyframes";

.category_template__display button{
    background-color: #d62828;
    border-radius: 0.3rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 4rem;
    color: $color-primary;
    border-color: $color-primary;
    font-weight:bold;
    border-radius: 2px;
    box-shadow: 0px 10px 14px -7px rgba(40 36 36);
    cursor: pointer;
}

.best_film__btn{
    margin: 0;
    padding: 0;
    font-size: 15px;
    width:130px;
    height:40px;
    border-width:1px;
    color:#fff;
    border-color:#1B263B;
    font-weight:bold;
    border-radius: 2px;
    box-shadow: 0px 10px 14px -7px rgba(40 36 36);
    background-color: #1B263B;  
    cursor: pointer;
    &:hover{
        animation: btn_play 200ms ease-in-out;
        animation-fill-mode: forwards;
    }
}

.category_template__btn{
    border: none; 
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #1B263B;
    animation: none;
}

.nav button{
    width: 60px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: 1px solid;
    transform: translateY(-50%);
    background-color: $color-ligth;
    cursor: pointer;
}

.nav{
    &__previous{
        left: -30px;
        display: none;
    }
    &__next{
        right: -30px;
        display: block;
    }
}

.nav__previous.show{
    display: block;
}

.nav__next.show{
    display: block;
}

.nav__previous.hide{
    display: none;
}

.nav__next.hide{
    display: none;
}

@include large{
    .category_template__display button{
        margin-top: 0;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}